PORT=8080
MONGO_URI=mongodb://user_management_admin:changeme@127.0.0.1:27017/user_management?authSource=admin
MONGO_DATABASE=user_management
MONGO_USERNAME=user_management_admin
MONGO_PASSWORD=changeme
JWT_SECRET=local-dev-jwt-secret
